source https://api.nuget.org/v3/index.json
source http://nuget.org/api/v2

github fsharp/FAKE modules/Octokit/Octokit.fsx
#nuget Ockokit
nuget FAKE
nuget FSharp.Core >= 4.0.0.1 copy_local: true, redirects: force
nuget FSharp.Formatting
nuget FsCheck.NUnit
nuget FsCheck.Xunit
nuget NUnit 2.6.4 framework: >= net45
nuget NUnit.Runners
nuget SourceLink.Fake
nuget Foq
nuget Owin
nuget Microsoft.Owin
nuget StatsdCsharpClient
nuget log4net
nuget xunit
nuget xunit.runner.console
